
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 660px;
    height: 660px;
    border-radius: 4px;
}

.grid-container {
    display: grid;
    height: 600px;
    width: 600px;
    border: 1px solid rgb(156, 156, 156);
}

.grid-item {
    border-width: 1px;
    border-style: solid;
    
}

.grid-item:hover {
    background-color: blue;
}

.reset {
    font-family: 'Courier New', Courier, monospace;
}